// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

hr {
  border: 0;
  border-bottom: $hr-border;
  margin: $hr-margin;
}

.email {
  &__heading {
    font-size: 22px;
    color: #1f1f1f;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  &__publisher-name {
    font-size: 12px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__publisher-link {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #0586d6;
    text-decoration: none;
  }

  &__sub-heading {
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #0586d6;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.footer__link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #0586d6;
}

.footer__divider {
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  border-right: 1px solid #0586d6;
}
