<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{na_email.heading}}</title>
  <!-- <style> -->
</head>

<body>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
          <center style="background: #0586d6; color: #fff; padding-top: 30px;padding-bottom: 30px;">
            Quintype <strong>Analytics</strong>
          </center>
          <center style="background: #0586d6;">
            <container>
              <h1 class="email__heading">{{na_email.heading}}</h1>
              <h2 class="email__publisher-name"><a class="email__publisher-link">{{na_email.publisher}}</a></h2>
            </container>
          </center>
          <container style="padding-top: 20px">
            <row>
              <columns large="6" style="padding-bottom: 25px;">
                <div class="graph">
                  <p class="graph__heading">
                    <span class="graph__heading__value">{{na_graphOne.current_value}}</span>
                    <span class="graph__heading__label">{{na_graphOne.current_value_label}}</span>
                  </p>
                  <p class="graph__sub-heading">
                    <span class="graph__sub-heading__value"><span style="color: {{na_graphOne.change_color}}">{{na_graphOne.previous_value}} </span></span>
                    <span class="graph__sub-heading__label">{{na_graphOne.previous_value_label}}</span>
                  </p>
                  <row class="graph__graph">
                    {{#each na_graphOne.graph}}
                    <td class="graph__bar-container" style="height: 75px; width: {{this.bar_width}}%; padding: 0 5px; vertical-align: bottom; padding-bottom: 0 !important;">
                      <div class="graph__bar" style="height: {{this.bar_height_percentage}}%; background: #59c2ee; background: linear-gradient(to top, rgba(146, 218, 248, 0.4), #59c2ee); opacity: 0.25"></div>
                    </td>
                    {{/each}}
                  </row>
                  <row>
                    {{#each na_graphOne.graph}}
                    <th class="graph__label" width="{{this.bar_width}}%">{{this.label}}</th>
                    {{/each}}
                  </row>
                </div>
              </columns>
              <columns large="6" style="padding-bottom: 25px">
                <div class="graph">
                  <p class="graph__heading">
                    <span class="graph__heading__value">{{na_graphTwo.current_value}}</span>
                    <span class="graph__heading__label">{{na_graphTwo.current_value_label}}</span>
                  </p>
                  <p class="graph__sub-heading">
                    <span class="graph__sub-heading__value"><span style="color: {{na_graphTwo.change_color}}">{{na_graphTwo.previous_value}} </span></span>
                    <span class="graph__sub-heading__label">{{na_graphTwo.previous_value_label}}</span>
                  </p>
                  <row class="graph__graph">
                    {{#each na_graphTwo.graph}}
                    <td class="graph__bar-container" style="height: 75px; width: {{this.bar_width}}%; padding: 0 5px; vertical-align: bottom; padding-bottom: 0 !important;">
                      <div class="graph__bar" style="height: {{this.bar_height_percentage}}%; background: #59c2ee; background: linear-gradient(to top, rgba(146, 218, 248, 0.4), #59c2ee); opacity: 0.25"></div>
                    </td>
                    {{/each}}
                  </row>
                  <row>
                    {{#each na_graphTwo.graph}}
                    <th class="graph__label" width="{{this.bar_width}}%">{{this.label}}</th>
                    {{/each}}
                  </row>
                </div>
              </columns>
            </row>
            <center>
              <!-- copy and replace this button code with the generated button code for the second button -->
              <button class="radius small" href="{{na_email.dashboard_url}}">Go to Dashboard</button>
            </center>
            <row style="margin-bottom: 30px">
              <columns>
                <h3 class="email__sub-heading">{{na_listOne.heading}}</h3>
                <div class="list">
                  <row style="margin-bottom: 20px;">
                    <columns small="1"></columns>
                    <columns small="7"><span class="list__heading">{{na_listOne.column_two_heading}}</span></columns>
                    <columns small="2">
                      <p class="list__heading text-center">{{na_listOne.column_three_heading}}</p>
                    </columns>
                    <columns small="2">
                      <p class="list__heading text-center">{{na_listOne.column_four_heading}}</p>
                    </columns>
                  </row>
                  {{#each na_listOne.list}}
                  <row>
                    <columns small="1"><span class="list__item-no">{{this.item_index}}.</span></columns>
                    <columns small="7">
                      <p class="list__item-name">{{this.item_heading}}</p>
                      <p class="list__item-sub-name">{{this.item_sub_heading}}</p>
                    </columns>
                    <columns small="2" style="text-align: center">
                      <p class="list__item-value text-center">{{this.item_pageviews}}</p>
                    </columns>
                    <columns small="2" style="text-align: center">
                      <p class="list__item-value text-center">{{this.item_visits}}</p>
                      {{#if this.item_change}}
                      <p class="list__item-change text-center"><span style="color: {{this.item_change_color}}">{{this.item_change}}%</span></p>
                      {{/if}}
                    </columns>
                  </row>
                  {{#unless @last}}
                  <hr /> {{/unless}} {{/each}}
                  <row>
                    <columns>
                      <p class="text-right">
                        <a href="{{na_listOne.link_url}}" class="list__item-link">{{na_listOne.link_label}}</a>
                      </p>
                    </columns>
                  </row>
                </div>
              </column>
            </row>
            <row style="margin-bottom: 30px">
              <columns>
                <p class="email__sub-heading">{{na_graphThree.heading}}</p>
                <div class="graph graph--two">
                  <row>
                    <columns small="8">
                      <div class="text-left">
                        <p class="graph__heading">
                          <span class="graph__heading__value">{{na_graphThree.current_value}}</span>
                          <span class="graph__heading__label">{{na_graphThree.current_value_label}}</span>
                        </p>
                        <p class="graph__sub-heading">
                          <span class="graph__sub-heading__value"><span color="{{na_graphThree.change_color}}">{{na_graphThree.previous_value}}</span></span>
                          <span class="graph__sub-heading__label">{{na_graphThree.previous_value_label}}</span>
                        </p>
                      </div>
                    </columns>
                    <columns small="4" valign="middle">
                      <span style="display: inline-block;width:49%"><span class="graph__legend graph__legend--current"></span><span class="graph__legend__text">{{na_graphThree.current_label_indicator}}</span></span>
                      <span style="display: inline-block;width: 49%"><span class="graph__legend graph__legend--previous"></span><span class="graph__legend__text">{{na_graphThree.previous_label_indicator}}</span></span>
                    </columns>
                  </row>
                  <row class="graph__graph">
                    {{#each na_graphThree.graph}}
                    <td class="graph__bar-container" style="width: {{this.bar_width}}%; padding: 0 1%; vertical-align: bottom; padding-bottom: 0 !important;">
                      <row>
                        <td style="height: 170px; vertical-align: bottom; padding: 0 5px;">
                          <div class="graph__bar" style="height: {{this.percentage.current}}%;background: #59c2ee; background: linear-gradient(to top, rgba(146, 218, 248, 0.4), #59c2ee);"></div>
                        </td>
                        <td style="height: 170px; vertical-align: bottom; padding: 0 5px;">
                          <div class="graph__bar graph__bar--two" style="height: {{this.percentage.previous}}%;background: #59c2ee; background: linear-gradient(to top, rgba(146, 218, 248, 0.4), #59c2ee); opacity: 0.25"></div>
                        </td>
                      </row>
                    </td>
                    {{/each}}
                  </row>
                  <row>
                    {{#each na_graphThree.graph}}
                    <th width="{{this.bar_width}}%">
                      <p class="graph__label">{{this.label}}</p>
                      <p class="graph__label__value">{{this.value}}</p>
                      <p class="graph__label__change"><span style="color: {{this.change_color}}">{{this.percentage.change}}%</span></p>
                    </th>
                    {{/each}}
                  </row>
                </div>
              </columns>
            </row>
            <row style="margin-bottom: 30px">
              <columns>
                <h3 class="email__sub-heading">{{na_listTwo.heading}}</h3>
                <div class="list">
                  <row style="margin-bottom: 20px">
                    <columns small="1"></columns>
                    <columns small="7"><span class="list__heading">{{na_listTwo.column_two_heading}}</span></columns>
                    <columns small="2">
                      <p class="list__heading text-center">{{na_listTwo.column_three_heading}}</p>
                    </columns>
                    <columns small="2">
                      <p class="list__heading text-center">{{na_listTwo.column_four_heading}}</p>
                    </columns>
                  </row>
                  {{#each na_listTwo.list}}
                  <row>
                    <columns small="1"><span class="list__item-no">{{this.item_index}}.</span></columns>
                    <columns small="7">
                      <p class="list__item-name">{{this.item_heading}}</p>
                      <p class="list__item-sub-name">{{this.item_sub_heading}}</p>
                    </columns>
                    <columns small="2" style="text-align: center">
                      <p class="list__item-value text-center">{{this.item_pageviews}}</p>
                    </columns>
                    <columns small="2" style="text-align: center">
                      <p class="list__item-value text-center">{{this.item_visits}}</p>
                      {{#if this.item_change}}
                      <p class="list__item-change text-center"><span style="color: {{this.item_change_color}}">{{this.item_change}}%</span></p>
                      {{/if}}
                    </columns>
                  </row>
                  {{#unless @last}}
                  <hr /> {{/unless}} {{/each}}
                  <row>
                    <columns>
                      <p class="text-right">
                        <a href="{{na_listTwo.link_url}}" class="list__item-link">{{na_listTwo.link_label}}</a>
                      </p>
                    </columns>
                  </row>
                </div>
              </columns>
            </row>
            <center style="margin-bottom: 30px;">
              <button class="radius small" href="{{na_email.dashboard_url}}">Go to Dashboard</button>
            </center>
          </container>
          <center style="margin-bottom: 25px; margin-top: 30px;">
            <a class="footer__link" href="{{na_email.polltype_url}}">Polltype</a>
            <span class="footer__divider"></span>
            <a class="footer__link" href="{{na_email.quintype_url}}">Quintype</a>
          </center>
        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>

</html>
